# $Id$
#
# mailfilter.example
#
#	This is a sample procmail setup file that 
#	1 - retains an unprocessed copy of all incoming mail
#	2 - diverts incoming mail with asian character sets
#	3 - runs bogofilter
#	4 - retains a processed copy of all messages identified as spam.
#	5 - retains a processed copy of all messages identified as unsure.
#

### bogofilter - filter & update word lists

MAILDIR=/var/spool/mail
BOGOFILTER_DIR=/var/lib/bogofilter

#### backup ####
cc "mail.backup"
####

## Silently drop all completely unreadable mail into separate folder
if (/^Subject:.*=\?(.*big5|iso-2022-jp|ISO-2022-KR|euc-kr|gb2312|ks_c_5601-1987|windows-1251|windows-1256)\?/ || /^Content-Type:.*charset="(.*big5|iso-2022-jp|ISO-2022-KR|euc-kr|gb2312|ks_c_5601-1987|windows-1251|windows-1256)/)
to "spam-unreadable"
####


#### bogofilter passthrough-update ####

xfilter 'bogofilter -f -p -u -l -e -v'

# if spam, 
if (/^X-Bogosity: (Spam|Yes)/)
to "spam-bogofilter"

if (/^X-Bogosity: Unsure/)
cc "unsure-bogofilter"
#### end bogofilter passthrough-update ####


#### SpamAssassin ####
# if spamassassin detects spam (this example assumes spamd is running),
# teach bogofilter about it (avoiding to register spamassassin markup)
# and store it to spam-spamassassin
xfilter "/usr/bin/spamc"
if (/^X-Spam-Status: YES) {
    cc "|/usr/bin/spamassassin -d -L|bogofilter -s"
    to "spam-spamassassin"
}
#### end SpamAssassin ####
