########### BOGOFILTER Configuration File ###########################

# Non-comment lines of bogofilter.cf.example show default settings as 
# used in the bogofilter source code.

########### General Settings ########################################

#### BOGOFILTER_DIR
#
#	directory for wordlists

bogofilter_dir=~/.bogofilter
#bogofilter_dir=/var/lib/bogofilter

#	name/location of user config file

user_config_file=~/.bogofilter.cf
#user_config_file=~/.bogofilterrc
#user_config_file=~/.bogofilter/config


#### WORDLIST: define additional word lists
#
#	char type: 's','g','i' (denoting spam, good, or ignore)
#	char *name: name of list, e.g. "good", "spam", "ignore"
#	char *path: path to file
#	double weight - probability BIAS for list
#	int override - skip lower valued lists

#wordlist i,ignore,.ignorelist.db,1,0,0


#### SPAM_HEADER_NAME
#
#	used in reporting spamicity and
#	in removing already existing headers

spam_header_name=X-Bogosity


##### STATS_IN_HEADER
#
#	non-zero (default):  put spamicity info in message header
#	zero:  put spamicity info in message body
#	can use "bool" values of True, False, Yes, No, 1, or 0

stats_in_header=Y


##### DB_CACHESIZE
#
#	non-zero: set this as DB cache size (in Mbytes)
#	zero:	  use DB default cache size (.25 Mbyte in 4.0.14)
#
#	note that Berkeley DB increases any buffer size below 500 MB
#	by 25%!
#	This helps most when doing massive changes to the data base that
#	involve a lot of overwrites, such as registering mail boxes,
#	whereas it is mostly a waste of memory for read-only
#	applications such as scoring.
#	WARNING: If you set this too large, bogofilter will fail.

#db_cachesize=16
db_cachesize=0

##### TAG_HEADER_LINES
#
#	if enabled, add a "subj:" prefix to tokens in the Subject: line

tag_header_lines=no

#### Format of SPAM_HEADER
#
#	formatting characters:
#
#	    h - spam_header_name, e.g. "X-Bogosity"
#
#	    a - algorithm, e.g. "graham", "robinson", "fisher"
#
#	    c - classification, e.g. Yes/No, Spam/Ham/Unsure, +/-/?
#
#	    e - spamicity as 'e' format
#	    f - spamicity as 'f' format
#
#	    l - logging tag (from '-l' option)
#
#	    o - spam_cutoff, ex. cutoff=%c
#
#	    r - runtype
#	        w - word count
#	        m - message count
#
#	    v - version, ex. "version=%v"
#
#    customizable messages:
#
#	header_format - the "X-Bogosity" line that '-p' and '-v' add to
#		the message header.
#	terse_format - an abbreviated form of header_format;
#		selected by command line option '-t'
#	log_header_format - written to syslog by '-u' option 
#		when classifying messages.
#	log_update_format - written to syslog by '-u' option 
#		when registering messages.
#
#    below are the current values of the options:
#
# header_format = %h: %c, tests=bogofilter, spamicity=%p, version=%v
# terse_format = %1.1c %f
# log_header_format = %h: %c, spamicity=%p, version=%v
# log_update_format = register-%r, %w words, %m messages



########### Tokenizer Settings ######################################

#### BLOCK ON SUBNETS
#
#	convert IPADDRs into a special token, url:1.2.3.4,
#	and also return url:1.2.3, url:1.2, and url:1
#       to allow identifying spammers by ip address / subnets.

block_on_subnets=no


#### CHARSET handling
#
#	specify default charset

charset_default=us-ascii
#charset_default=iso-8859-1

#	replace non-7bit chars with '?'

replace_nonascii_characters=N



########### Classification Constants General Settings ###############

#### MINIMUM DEVIATION
#
#	if token spamicity closer to EVEN_ODDS (0.5f)
#	than MIN_DEV, don't use the word in the
#	spamicity calculation
#       defaults: 0.0 for graham and 0.1 for robinson and fisher

# min_dev=0.0


##### THRESHOLD Values
#
#	used to determine if/when spamicity
#	values are output by print_bogostats()

thresh_index = 0
thresh_stats = 0.0
thresh_rtable = 0.0

# thresh_index = 12
# thresh_stats =0.2
# thresh_rtable=0.4



########### Algorithm Settings ######################################

#### ALGORITHM
#
#	specify scoring algorithm

#algorithm=graham
#algorithm=robinson
algorithm=fisher


##### Robinson Constants
#
#	Specify floating point values for
#	Robinson S and X coefficients.
#       Also applies to Fisher.
#	Does not apply to Graham.

robs=0.001
robx=0.415


#### CUTOFF Values
#
#	for Graham and Robinson:
#	    only spam_cutoff is needed.
#
#	for Fisher:
#	    both ham_cutoff and spam_cutoff are allowed.
#	    setting ham_cutoff to a non-zero value will
#	    enable tristate results (Yes/No/Unsure).

spam_cutoff = 0.90	# for graham
spam_cutoff = 0.54	# for robinson

# fisher (with Yes/No output, i.e. '-2' option):
#
# ham_cutoff = 0.00
# spam_cutoff = 0.95

# fisher (with Yes/No/Unsure output, i.e. '-3' option):
#
# ham_cutoff = 0.10
# spam_cutoff = 0.95


#### Format of spamicity output
#
# for two-state output:
#	using "Yes" and "No" as labels.

spamicity_tags = Yes, No
spamicity_formats = %0.6f, %0.6f

# for fisher (with 3-state output)
#	using "Spam", "Ham", and "Unsure" as labels,
#	format "%6.2e" for displaying Spam/Ham scores.
#	and format "%0.6f" for Unsure scores.
#
# spamicity_tags = Spam, Ham, Unsure
# spamicity_formats = %6.2e, %6.2e, %0.6f
