body {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	text-decoration : none;
	background-color : #d4d0c8;
}
.central_table {
	border : 1px solid #d4d0c8;
	border-collapse : collapse;
	font-size : 80%;
	color : #645e4f;
}
.inside_table {
	border : 1px solid #d4d0c8;
	border-collapse : collapse;
	font-size : 80%;
	color : #645e4f;
}
.header_version {
	font-size : 80%;
	font-weight : normal;
	color : #ffcc00;
}
.top_text_table {
	font-size : 100%;
	font-weight : bold;
	color : #645e4f;
}
h1 {
	font-size : 140%;
	font-weight : bold;
	color : #645e4f;
}
h2 {
	font-size : 120%;
	font-weight : bold;
	color : #645e4f;
}
h3 {
	font-size : 110%;
	font-weight : bold;
	color : #645e4f;
}
h6 {
	font-size : 80%;
	font-weight : normal;
	color : #645e4f;
}
a {
	color : #ff3300;
	border-bottom : inherit ;
}
a:hover {
	color : #cccc33;
	border-bottom : inherit ;
}
.blink {
	color : #645e4f;
}
.blink:hover {
	color : #ff3300;
}
.clink {
	font-size : 90%;
	color : #645e4f;
}
.clink:hover {
	color : #ff3300;
}
